/*$PRIMARY_COLOR: #B8A06C;
$PRIMARY_HEAVY: #A2884F;
$PRIMARY_LIGHT: #A2884F;
$GREY_LIGHT: #D0D0D0;
$GREY_MEDIUM: #707070;
$GREY_DARK: #434343;
$WHITE: #FFFFFF;
$GREEN: #6CB87A;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.teste{
    background-image: url("./components/images/fundo.png");
    padding-bottom: 6rem;

}

body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 49px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-principal {
    width: 62.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.video {
    width: 62.5rem;
}



.comprar-curso {
    width: 350px;
    height: 87.5px;
    left: 259px;
    top: 252px;
    
    background: #6CB87A;
    border-radius: 8px;
}
.comprar-curso:hover{
    background: #77C685;
    border-radius: 8px;
    cursor: pointer
}
.botao{
font-family: 'Gotham';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
}

.preco-antes{
    text-decoration: line-through;
    
}

.economia{
    color: #6CB87A
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

#border {
    border: 2px solid #A2884F;
    border-radius: 15px;
}

#border:hover {
    background-color: #A2884F;
    color: white;
}

.titulos {
    color: #B8A06C;
    position:static;
    height: 45px;
    align-items:  center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
/* identical to box height, or 129% */

    display: block;
  
  
/* identical to box height, or 129% */




}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #FFFFFF;
    width: 62.5rem;
    box-shadow: 0px 4px 50px #C4C2C2;
    border-radius: 20px;
    color: #434343;
    margin-top: -6.25rem;
    padding-left: 3.375rem;
    padding-top: 3rem;
    padding-right: 3.375rem;
    padding-bottom: 3rem;
}


.conteudo-sobre{
    display: inline-block;
    flex-direction: column;
    width: 62.5rem;
    margin-top: 6.25rem;
    color: #707070
}



.conteudo-secundario-titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    text-align: justify;    
    color: #B8A06C;
    display: block;
}

.topicos{
    
    display: inline-block;
    
    margin-left: 10%;
    height: 16em;
    width: 20em;
    
}

.texto{
  margin-left: 5%
    
}
.titulos-topicos{
    display: block;
    text-align: center;
}
.imagem{
    text-align: center;
}


.button-comprar {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #6cb87a;
  border-radius: 08px;
  border: 0px solid #ffffff;
  border-width: 0px 0px 0px 0px;
  padding: 10px 20px 10px 20px;
    color: #ffffff;
  font-size: 21px;
  font-family: Helvetica;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 20px #6CB87A
  }
  .FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B8A06C;
  }
  .container-faq{
    display: inline-block;
    flex-direction: column;
    width: 62.5rem;
    margin-top: 6.25rem;
  }
  .faq-questions{
    background-color: #ffffff;
    margin: 2em;
    color: #707070;
    text-align: justify;
    border: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    width: 1037px;
    height: 110px;
  }
  .faq-questions p {
    padding: 1em;
  }